.footer {
  padding: rem(20) 0;
  background: var(--footer-bg);
  padding-top: 84px;

  .footer__container {
  &__container {
    display: flex;
    align-items: center;

    @include media-mx(510) {
      flex-direction: column;
      align-items: flex-start;
    } 
  }
}
  .footer {
    &__links {
      display: flex;
    }
    &__logo--ux {
    display: flex;
    gap: 7px;
    flex-direction: column;
    width: 139px;
    }
    &__logo--logo {
    color: var(--secondary-text);
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
    }
    &__ux {
      color: var(--secondary-text);
    }
    &__catalogue {
      display: flex;
      flex-direction: row;
      gap: 100px;
      margin-left: 190px;
    }
    &__links {
      color: var(--footer-text);
      line-height: 27px;
      transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__links:hover {
      color: var(--logo-yellow);
    }
    &__text--address {
      margin-bottom: 20px;
      color: var(--footer-text);
      line-height: 27px;
    }
    &__content {
      display: flex;
      align-items: center;
      padding-top: 25px;
    }
    &__low {
      display: flex;
      flex-direction: column;
    }
    &__line {
      margin-top: 69px;
      height: 1px;
      width: 100%;
      border-bottom: 1px solid #EEEEEE1A;
    }
  }
  .bottom {
    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__text {
      color: var(--footer-text);
      line-height: 26.91px;
      margin-right: 320px;
    }
    &__text--year {
      color: var(--footer-text);
      line-height: 26.91px;
      margin-right: 233px;
    }
    &__links {
      color: var(--footer-text);
      line-height: 27px;
      transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
      margin-right: 360px;
    }
    &__links:hover {
      color: var(--logo-yellow);
    }
    &__cards {
      cursor: pointer;
      display: flex;
    }
    &__svg--visa {
      width: 35px;
      height: 20px;
      margin-right: 20px;
    }
    &__svg--mastercard {
      width: 28px;
      height: 17px;
    }
  }
}