.content__title {
  text-align: center;
  font-size: 38px;
}
.content__title::after {
  content: "";
  display: block;
  background: var(--stripe-color);
  height: 2px;
  margin: 28px auto 36px;
  width: 50px;
}
.content__filter {
  display: flex;
  gap: 11px;
  justify-content: center;
  margin-bottom: 30px;
}
.content__list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 320px) {
  .content__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .content__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .content__list {
    display: flex;
    flex-wrap: nowrap;
  }
}
.content__box {
  background-color: white;
  transition: box-shadow 0.3s ease-in-out;
}
@media screen and (min-width: 320px) {
  .content__box {
    width: 310px;
    border-radius: 20px;
  }
}
@media screen and (min-width: 768px) {
  .content__box {
    width: 310px;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .content__box {
    border-radius: 4px;
  }
}
.content__box:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.content__all--bttn {
  display: grid;
  margin: auto;
  align-items: center;
  margin-top: 34px;
  width: 215px;
  height: 56px;
  background-color: transparent;
  color: #889099;
  border: 1px solid #889099;
  border-radius: 2px;
  font-size: 18px;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .content__all--bttn {
    border-radius: 20px;
  }
}
@media screen and (min-width: 768px) {
  .content__all--bttn {
    border-radius: 20px;
  }
}
.content__all--bttn:hover, .content__all--bttn:focus {
  border-color: var(--logo-yellow);
  color: var(--logo-yellow);
}
.content .filter__item, .content .filter__item--active {
  line-height: 34.2px;
  font-size: 18px;
  background-color: var(--background-color);
  width: 100px;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content .filter__item:hover, .content .filter__item:focus, .content .filter__item--active:hover, .content .filter__item--active:focus {
  color: var(--yellow-hover);
}
.content .filter__item--active {
  line-height: 34.2px;
  font-size: 18px;
  background-color: var(--background-color);
  width: 100px;
  text-decoration: underline;
  text-decoration-color: var(--logo-yellow);
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.content .project__details {
  padding: 25px 21px 32px;
}
.content .project__title {
  margin: 21px 0;
}
.content .project img {
  display: block;
}
@media screen and (min-width: 320px) {
  .content .project img {
    width: 310px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
@media screen and (min-width: 768px) {
  .content .project img {
    width: 310px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .content .project img {
    border-radius: 4px;
  }
}
.content .project__category {
  text-transform: uppercase;
  color: #c4cbd2;
  line-height: 20.93px;
  font-size: 14px;
}
.content .project__price {
  line-height: 26.91px;
}/*# sourceMappingURL=content.css.map */