.feedback__box {
  display: flex;
  background-color: var(--white-color);
  justify-content: space-between;
}
@media screen and (min-width: 320px) {
  .feedback__box {
    border-radius: 20px;
  }
}
@media screen and (min-width: 768px) {
  .feedback__box {
    border-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__box {
    border-radius: 12px;
  }
}
@media screen and (min-width: 320px) {
  .feedback__workspace {
    padding: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feedback__workspace {
    padding: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__workspace {
    padding: 70px;
  }
}
.feedback__workspace h3,
.feedback p,
.feedback label,
.feedback input {
  display: flex;
  flex-direction: column;
}
.feedback__title--start {
  font-size: 38px;
}
@media screen and (min-width: 320px) {
  .feedback__title--start {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .feedback__title--start {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__title--start {
    text-align: start;
  }
}
.feedback__title--start::after {
  content: "";
  display: block;
  background: var(--stripe-color);
  height: 2px;
  width: 50px;
}
@media screen and (min-width: 320px) {
  .feedback__title--start::after {
    margin: 28px auto 36px;
  }
}
@media screen and (min-width: 768px) {
  .feedback__title--start::after {
    margin: 28px auto 36px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__title--start::after {
    margin: 28px 0 36px;
  }
}
@media screen and (min-width: 320px) {
  .feedback__image {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .feedback__image {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__image {
    display: flex;
  }
}
.feedback__description {
  color: var(--secondary-text);
  line-height: 26.91px;
  margin-bottom: 33px;
  font-size: 16px;
}
.feedback input {
  line-height: 26.91px;
  margin-bottom: 20px;
  background: var(--tr-button-color);
  border-radius: 6px;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  color: var(--secondary-text);
}
.feedback ::placeholder {
  color: #c4cbd2;
}
.feedback__form--button {
  background-color: var(--logo-yellow);
  font-size: 18px;
  width: 100%;
  height: 64px;
}
@media screen and (min-width: 320px) {
  .feedback__form--button {
    border-radius: 20px;
  }
}
@media screen and (min-width: 768px) {
  .feedback__form--button {
    border-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__form--button {
    border-radius: 6px;
  }
}
.feedback__license {
  display: flex;
  margin: 32px 0 18px 0;
  line-height: 26.91px;
}
.feedback .license__checkbox--label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: var(--secondary-text);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback .license__checkbox--label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
}
.feedback .license .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--tr-button-color);
  border-radius: 2px;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback .license__checkbox--label:hover input ~ .checkmark {
  background-color: var(--tr-button-color);
}
.feedback .license__checkbox--label input:checked ~ .checkmark {
  background-color: var(--logo-yellow);
}
.feedback .license .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.feedback .license__checkbox--label input:checked ~ .checkmark:after {
  display: block;
}
.feedback .license__checkbox--label .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}/*# sourceMappingURL=feedback.css.map */