.reviews__title {
  text-align: center;
  font-size: 38px;
}
.reviews__title::after {
  content: "";
  display: block;
  background: var(--stripe-color);
  height: 2px;
  margin: 28px auto 36px;
  width: 50px;
}
.reviews__gradient {
  width: 100%;
  background: linear-gradient(90deg, rgb(255, 255, 255) 17%, rgba(144, 144, 194, 0) 30%, rgba(9, 9, 121, 0) 70%, rgb(255, 255, 255) 83%);
}
.reviews__desc {
  display: flex;
  justify-content: center;
  color: var(--secondary-text);
  line-height: 26.91px;
  margin-bottom: 50px;
  position: relative;
}
.reviews__button-look {
  margin-top: 50px;
  cursor: pointer;
  width: 215px;
  height: 56px;
  text-align: center;
  background-color: transparent;
  color: var(--secondary-text);
  border: 1px solid var(--secondary-text);
  font-size: 18px;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .reviews__button-look {
    border-radius: 20px;
  }
}
@media screen and (min-width: 768px) {
  .reviews__button-look {
    border-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__button-look {
    border-radius: 3px;
  }
}
.reviews__button-look:hover, .reviews__button-look:focus {
  color: var(--footer-bg);
  border-color: var(--footer-bg);
}
.reviews .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews .swiper {
  overflow: visible;
}
@media screen and (min-width: 320px) {
  .reviews .swiper {
    max-width: 270px;
  }
}
@media screen and (min-width: 768px) {
  .reviews .swiper {
    max-width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .swiper {
    max-width: 640px;
  }
}
.reviews .swiper-slide-active {
  position: relative;
}
.reviews .swiper-slide-active .swiper__item {
  background-color: white;
}
.reviews .swiper__apostroph {
  position: absolute;
  z-index: 3;
}
@media screen and (min-width: 320px) {
  .reviews .swiper__apostroph {
    transform: translate(-10px, -30px);
    right: 5%;
  }
}
@media screen and (min-width: 768px) {
  .reviews .swiper__apostroph {
    transform: translate(5px, -45px);
    right: 5%;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .swiper__apostroph {
    transform: translate(5px, -45px);
    right: 5%;
  }
}
@media screen and (min-width: 320px) {
  .reviews .swiper__image {
    height: 70px;
    width: 80px;
  }
}
@media screen and (min-width: 768px) {
  .reviews .swiper__image {
    height: 80px;
    width: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .swiper__image {
    height: 100px;
    width: 110px;
  }
}
.reviews .swiper__item {
  width: 100%;
  height: 337px;
  background-color: #edf1f7;
  border-radius: 12px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.reviews .swiper__date {
  line-height: 26.91px;
  color: var(--secondary-text);
  font-weight: 700;
}
@media screen and (min-width: 320px) {
  .reviews .swiper__date {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .reviews .swiper__date {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .swiper__date {
    font-size: 18px;
  }
}
.reviews .swiper__name {
  font-weight: 700;
}
@media screen and (min-width: 320px) {
  .reviews .swiper__name {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .reviews .swiper__name {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .swiper__name {
    font-size: 22px;
  }
}
.reviews .swiper__respond {
  line-height: 26.91px;
  overflow: hidden;
}
@media screen and (min-width: 320px) {
  .reviews .swiper__respond {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .reviews .swiper__respond {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .swiper__respond {
    font-size: 20px;
  }
}
.reviews .swiper-button-prev {
  left: -50px;
  width: 67px;
  height: 67px;
  background-color: var(--logo-yellow);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}
.reviews .swiper-button-prev:after {
  font-size: 20px;
  color: var(--primary-color);
}
.reviews .swiper-button-next {
  right: -50px;
  width: 67px;
  height: 67px;
  background-color: var(--logo-yellow);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}
.reviews .swiper-button-next:after {
  font-size: 20px;
  color: var(--primary-color);
}/*# sourceMappingURL=reviews.css.map */