.achievement {
    @media screen and (min-width: 320px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
    &__picture {
      padding: 45px 90px;
      height: 100%;
      width: 100%;
      border-radius: 12px;
      background-image: url(../images/company__picture.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      flex-direction: column;
      text-align: center;
      position: relative;
    }
    &__more {
      font-size: 14px;
      font-weight: 700;
      line-height: 20.93px;
      color: var(--logo-yellow);
    }
    &__number {
      right: 20%;
      transform: translate(-50%, 50%);
      left: auto;
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      color: var(--logo-yellow);
      position: absolute;
    }
    &__desc {
      padding-top: 15px;
      color: var(--white-color);
      line-height: 26.91px;
    }
    &__rome {
      height: 57px;
    }
  }