.choose {
    &__title {
      text-align: center;
      font-size: 38px;
    }
    &__title::after {
      content: '';
      display: block;
      background: var(--stripe-color);
      height: 2px;
      margin: 28px auto 36px;
      width: 50px;
    }
    &__desc {
      text-align: center;
      line-height: 26.91px;
      color: var(--secondary-text);
      margin-bottom: 44px;
    }
    &__vars {
      display: flex;

      @media screen and (min-width: 320px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
      }
      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
      }
      @media screen and (min-width: 1200px) {
        display: flex;
        gap: 20px;
      }
        
      }
    &__service {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      justify-content: center;
      

      @media screen and (min-width: 320px) {
        align-items: center;
      }
      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }
      @media screen and (min-width: 1200px) {
        align-items: flex-start;
      }
    }
    &__circle {
      display: flex;
      background: var(--white-color);
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px
    }
    &__svg {
      filter: invert(0.5);
    }
  }
  .service {
    &__title {
      margin-bottom: 13px;
      font-size: 20px;
    }
    &__desc {
      color: var(--secondary-text);
      line-height: 26.91px;
      word-wrap: break-word;
      width: 278px;
      height: 55px;
    }
    &__text{
      display: flex;
      flex-direction: column;
    }
  }
