.feedback {
    &__box {
      display: flex;
      background-color: var(--white-color);
      justify-content: space-between;

      @media screen and (min-width: 320px) {
        border-radius: 20px;
      }
      @media screen and (min-width: 768px) {
        border-radius: 20px;
      }
      @media screen and (min-width: 1200px) {
        border-radius: 12px;
      }
    }
    &__workspace {
      @media screen and (min-width: 320px) {
        padding: 30px;
      }
      @media screen and (min-width: 768px) {
        padding: 50px;
      }
      @media screen and (min-width: 1200px) {
        padding: 70px;
      }
    }
    &__workspace h3,
    p,
    label,
    input {
      display: flex;
      flex-direction: column;
    }
    &__title--start {
      font-size: 38px;

      @media screen and (min-width: 320px) {
        text-align: center;
      }
      @media screen and (min-width: 768px) {
        text-align: center;
      }
      @media screen and (min-width: 1200px) {
        text-align: start;
      }
    }
    &__title--start::after {
      content: '';
      display: block;
      background: var(--stripe-color);
      height: 2px;
      
      width: 50px;

      @media screen and (min-width: 320px) {
        margin: 28px auto 36px;
      }
      @media screen and (min-width: 768px) {
        margin: 28px auto 36px;
      }
      @media screen and (min-width: 1200px) {
        margin: 28px 0 36px;
      }
    }
    &__image {
      @media screen and (min-width: 320px) {
        display: none
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
      @media screen and (min-width: 1200px) {
        display: flex;
      }
    }
    &__description {
      color: var(--secondary-text);
      line-height: 26.91px;
      margin-bottom: 33px;
      font-size: 16px;
    }
    input {
      line-height: 26.91px;
      margin-bottom: 20px;
      background: var(--tr-button-color);
      border-radius: 6px;
      width: 100%;
      padding: 16px;
      font-size: 18px;
      color: var(--secondary-text);
    }
    ::placeholder {
      color: #c4cbd2;
    }
    &__form--button {
      background-color: var(--logo-yellow);
      font-size: 18px;
      width: 100%;
      height: 64px;

      @media screen and (min-width: 320px) {
        border-radius: 20px;
      }
      @media screen and (min-width: 768px) {
        border-radius: 20px;
      }
      @media screen and (min-width: 1200px) {
        border-radius: 6px
      }
    }
    &__license {
      display: flex;
      margin: 32px 0 18px 0;
      line-height: 26.91px;
    }
    .license {
      &__checkbox--label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        color: var(--secondary-text);
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      }
      &__checkbox--label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        top: 0;
        left: 0;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: var(--tr-button-color);
        border-radius: 2px;
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      }
      &__checkbox--label:hover input ~ .checkmark {
        background-color: var(--tr-button-color);
      }
      &__checkbox--label input:checked ~ .checkmark {
        background-color: var(--logo-yellow);
      }
      .checkmark:after {
        content: '';
        position: absolute;
        display: none;
      }
      &__checkbox--label input:checked ~ .checkmark:after {
        display: block;
      }
      &__checkbox--label .checkmark:after {
        left: 7px;
        top: 4px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }