.hero {
    &__box {
      background-image: url(../images/Union.png);
      background-size: cover;

      @media screen and (min-width: 320px) {
        height: 630px;
        padding: 30px 0 100px 0;
      }
      @media screen and (min-width: 420px) {
        height: 650px;
        padding-top: 70px;
      }
      @media screen and (min-width: 768px) {
        height: 720px;
        padding-top: 60px;
      }
      @media screen and (min-width: 1200px) {
        height: 720px;
        padding-top: 147px;
      }
    }
    &__title--yellow {
      color: var(--logo-yellow);
      font-weight: 700;
      @media screen and (min-width: 320px) {
        font-size: 50px;
        line-height: 50px;
      }
      @media screen and (min-width: 768px) {
        font-size: 70px;
        line-height: 70px;
      }
      @media screen and (min-width: 1200px) {
        padding: 0 40% 0 0;
        font-size: 70px;
        margin-bottom: 10px;
        line-height: 70px;
      }
    }
    &__title {
      color: var(--white-color);
    }
    &__description {
      margin-top: 30px;
      color: #959a9f;
      

      @media screen and (min-width: 320px) {
        display: block;
        font-size: 20px;
        line-height: 80%;
      }
      @media screen and (min-width: 768px) {
        margin: 30px 0;
        display: block;
        font-size: 20px;
        line-height: 35.88px;
      }
      @media screen and (min-width: 1200px) {
        margin-bottom: 84px;
        display: block;
        font-size: 24px;
        line-height: 35.88px;
      }
    }
    &__buttons {
      

      @media screen and (min-width: 320px) {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
      }
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
      }
      @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
    }
    &__bttn1 {
      cursor: pointer;
      text-align: center;
      background-color: var(--logo-yellow);

      @media screen and (min-width: 320px) {
        height: 60px;
        width: 220px;
        border-radius: 20px;
        font-size: 20px;
      }
      @media screen and (min-width: 768px) {
        height: 92px;
        width: 325px;
        border-radius: 20px;
        font-size: 20px;
      }
      @media screen and (min-width: 1200px) {
        padding: 20px 45px;
        border-radius: 2px;
        width: 100%;
        height: 100%;
        font-size: 18px;
      }
    }
    &__bttn2 {
      cursor: pointer;
      text-align: center;
      background-color: transparent;
      color: var(--tr-button-color);
      border: 1px solid var(--tr-button-color);

      @media screen and (min-width: 320px) {
        padding: 5px;
        height: 60px;
        width: 220px;
        border-radius: 20px;
        font-size: 18px;
      }
      @media screen and (min-width: 768px) {
        height: 92px;
        width: 450px;
        border-radius: 20px;
        font-size: 20px;
      }
      @media screen and (min-width: 1200px) {
        padding: 20px 45px;
        border-radius: 2px;
        width: 100%;
        height: 100%;
        font-size: 18px;
      }
    }
    &__bttn1:hover,
    &bttn1:focus {
      background-color: var(--yellow-hover);
      transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .step_bttn:hover,
    .step_bttn:focus,
    .form_bttn:hover,
    .form_bttn:focus {
      background-color: var(--yellow-hover);
      transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__bttn2:hover,
    &__bttn2:focus {
      border-color: var(--logo-yellow);
      color: var(--logo-yellow);
      transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }