/** Базовые анимации: */
@import 'keyframes';

/** Стили для полноэкранного блока: */
@import 'fullscreen';

/*
* (i) Стили будут применяться ко
* всем классам содержащим *__container
* Например header__container, main__container и т.д.
*/
[class*='__container'] {
  max-width: rem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 rem($mainOffset);
}

// Стили отзывчивых картинок (IBG) ============================================
[class*='-ibg'] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

[class*='-ibg_contain'] {
  img {
    object-fit: contain;
  }
}

// Оболочка ===================================================================
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  /** Поменять на clip - если используется в проекте position: sticky */
  overflow: hidden;
}

.page {
  position: relative;
  flex: 1 1 auto;
  background-color: var(--background-color);

  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(2);
    background: transparent;
    pointer-events: none;
  }

  &_start {
    padding-top: rem($headerHeight);
  }
}

.main {
  &__section {
    padding-top: 95px;
  }
}

.hero {
  &__box {
    height: 720px;
    background-image: url(../images/Union.png);
    background-size: cover;
    padding-bottom: 210px;
    padding-top: 147px;
  }
  &__title--yellow {
    padding: 0 40% 0 0;
    color: var(--logo-yellow);
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 10px;
  }
  &__title {
    color: var(--white-color);
  }
  &__description {
    margin-bottom: 84px;
    color: #959a9f;
    font-size: 24px;
    line-height: 35.88px;
  }
  &__buttons {
    display: flex;
    gap: 20px;
  }
  &__bttn1 {
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--logo-yellow);
    border-radius: 2px;
    font-size: 18px;
    padding: 20px 45px;
  }
  &__bttn2 {
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    color: var(--tr-button-color);
    border: 1px solid var(--tr-button-color);
    border-radius: 2px;
    font-size: 18px;
    padding: 20px 45px;
  }
  &__bttn1:hover,
  &bttn1:focus {
    background-color: var(--yellow-hover);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .step_bttn:hover,
  .step_bttn:focus,
  .form_bttn:hover,
  .form_bttn:focus {
    background-color: var(--yellow-hover);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__bttn2:hover,
  &__bttn2:focus {
    border-color: var(--logo-yellow);
    color: var(--logo-yellow);
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.choose {
  &__title {
    text-align: center;
    font-size: 38px;
  }
  &__title::after {
    content: '';
    display: block;
    background: var(--stripe-color);
    height: 2px;
    margin: 28px auto 36px;
    width: 50px;
  }
  &__desc {
    text-align: center;
    line-height: 26.91px;
    color: var(--secondary-text);
    margin-bottom: 44px;
  }
  &__vars {
    display: flex;
    gap: 30px;
    padding: 0;
    justify-content: center;
  }
  &__service {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 98px;
    justify-content: center;
    align-items: flex-start;
  }
  &__circle {
    display: flex;
    width: 80px;
    height: 80px;
    background: var(--white-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }
  &__svg {
    filter: invert(0.5);
  }
}
.service {
  &__title {
    margin-bottom: 13px;
    font-size: 20px;
  }
  &__desc {
    color: var(--secondary-text);
    line-height: 26.91px;
    word-wrap: break-word;
    width: 278px;
    height: 55px;
  }
  #li3 {
    width: 170px;
  }
}

.steps {
  &__title {
    text-align: center;
    font-size: 38px;
  }
  &__title::after {
    content: '';
    display: block;
    background: var(--stripe-color);
    height: 2px;
    margin: 28px auto 36px;
    width: 50px;
  }
  &__desc {
    text-align: center;
    line-height: 26.91px;
    color: var(--secondary-text);
    margin-bottom: 44px;
  }
  &__cards {
    height: 274px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  
  &__buttons {
    filter: grayscale(100%) brightness(0.99);
    display: flex;
    justify-content: space-evenly;
    transform: translateY(-250%);
  }
  &__svg--f {
    width: 67px;
    height: 67px;

  }
  &__svg--s {
    width: 67px;
    height: 67px;
  }
}
.card {
  &__box {
    display: flex;
    background-color: var(--white-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  &__box--pos {
    display: flex;
    background-color: var(--white-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid var(--logo-yellow);
    background-color: transparent;
  }
  &__title {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
  }
  &__bttn {
    border-radius: 6px;
    background-color: var(--logo-yellow);
    width: 189px;
    height: 47px;
    margin-top: 23px;
    font-size: 20px;
    color: var(--primary-color);
  }
  &__desc {
    margin-top: 23px;
    color: var(--secondary-text);
    text-align: center;
    justify-content: center;
  }
}

.content {
  &__title {
    text-align: center;
    font-size: 38px;
  }
  &__title::after {
    content: '';
    display: block;
    background: var(--stripe-color);
    height: 2px;
    margin: 28px auto 36px;
    width: 50px;
  }
  &__filter {
    display: flex;
    gap: 11px;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  &__box {
    background-color: white;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
  }
  &__box:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  &__all--bttn {
    display: grid;
    margin: auto;
    align-items: center;
    margin-top: 34px;
    width: 215px;
    height: 56px;
    background-color: transparent;
    color: #889099;
    border: 1px solid #889099;
    border-radius: 2px;
    font-size: 18px;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__all--bttn:hover,
  &__all--bttn:focus {
    border-color: var(--logo-yellow);
    color: var(--logo-yellow);
  }
  .filter {
    &__item,
    &__item--active {
      line-height: 34.2px;
      font-size: 18px;
      background-color: var(--background-color);
      width: 100px;
      transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__item:hover,
    &__item:focus,
    &__item--active:hover,
    &__item--active:focus {
      color: var(--yellow-hover);
    }
    &__item--active {
      line-height: 34.2px;
      font-size: 18px;
      background-color: var(--background-color);
      width: 100px;
      text-decoration: underline;
      text-decoration-color: var(--logo-yellow);
      text-underline-position: under;
      text-decoration-thickness: 2px;
    }
  }
  .project {
    &__details {
      padding: 25px 21px 32px;
    }
    &__title {
      margin: 21px 0;
    }
    img {
      display: block;
    }
    &__category {
      text-transform: uppercase;
      color: #c4cbd2;
      line-height: 20.93px;
      font-size: 14px;
    }
    &__price {
      line-height: 26.91px;
    }
  }
}

.feedback {
  &__box {
    border-radius: 12px;
    display: flex;
    background-color: var(--white-color);
    justify-content: space-between;
  }
  &__workspace {
    padding: 70px;
  }
  &__workspace h3,
  p,
  label,
  input {
    display: flex;
    flex-direction: column;
  }
  &__title--start {
    text-align: start;
    font-size: 38px;
  }
  &__title--start::after {
    content: '';
    display: block;
    background: var(--stripe-color);
    height: 2px;
    margin: 28px 0 36px;
    width: 50px;
  }
  &__description {
    color: var(--secondary-text);
    line-height: 26.91px;
    margin-bottom: 33px;
    font-size: 16px;
  }
  input {
    line-height: 26.91px;
    margin-bottom: 20px;
    background: var(--tr-button-color);
    border-radius: 6px;
    width: 100%;
    padding: 16px;
    font-size: 18px;
    color: var(--secondary-text);
  }
  ::placeholder {
    color: #c4cbd2;
  }
  &__form--button {
    background-color: var(--logo-yellow);
    font-size: 18px;
    width: 100%;
    height: 64px;
    border-radius: 6px;
  }
  &__license {
    display: flex;
    margin: 32px 0 18px 0;
    line-height: 26.91px;
  }
  .license {
    &__checkbox--label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      color: var(--secondary-text);
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__checkbox--label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      top: 0;
      left: 0;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: var(--tr-button-color);
      border-radius: 2px;
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__checkbox--label:hover input ~ .checkmark {
      background-color: var(--tr-button-color);
    }
    &__checkbox--label input:checked ~ .checkmark {
      background-color: var(--logo-yellow);
    }
    .checkmark:after {
      content: '';
      position: absolute;
      display: none;
    }
    &__checkbox--label input:checked ~ .checkmark:after {
      display: block;
    }
    &__checkbox--label .checkmark:after {
      left: 7px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.question {
  &__title {
    text-align: center;
    font-size: 38px;
  }
  &__title::after {
    content: '';
    display: block;
    background: var(--stripe-color);
    height: 2px;
    margin: 28px auto 36px;
    width: 50px;
  }
  &__desc {
    display: flex;
    justify-content: center;
    color: var(--secondary-text);
    line-height: 26.91px;
    margin-bottom: 36px;
  }
  &__watch {
    display: flex;
    justify-content: center;
    margin-top: 34px;
  }
  .look {
    &__button {
      cursor: pointer;
      width: 215px;
      height: 56px;
      text-align: center;
      background-color: transparent;
      color: var(--secondary-text);
      border: 1px solid var(--secondary-text);
      border-radius: 3px;
      font-size: 18px;
      transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__button:hover,
    &__button:focus {
      color: var(--footer-bg);
      border-color: var(--footer-bg);
    }
  }
}

.company {
  &__box {
    border-radius: 12px;
    display: flex;
    background-color: var(--white-color);
    align-items: center;
  }
  &__workspace {
    padding: 71px 80px;
  }
  &__workspace h3,
  p,
  label,
  input {
    display: flex;
    flex-direction: column;
  }
  &__title--start {
    text-align: start;
    font-size: 38px;
  }
  &__title--start::after {
    content: '';
    display: block;
    background: var(--stripe-color);
    height: 2px;
    margin: 28px 0 36px;
    width: 50px;
  }
  &__desc {
    line-height: 26.91px;
    color: var(--secondary-text);
    word-wrap: break-word;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.achievement {
  &__picture {
    padding: 45px 90px;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-image: url(../images/company__picture.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  &__more {
    font-size: 14px;
    font-weight: 700;
    line-height: 20.93px;
    color: var(--logo-yellow);
  }
  &__number {
    right: 20%;
    transform: translate(-50%, 50%);
    left: auto;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: var(--logo-yellow);
    position: absolute;
  }
  &__desc {
    padding-top: 15px;
    color: var(--white-color);
    line-height: 26.91px;
  }
  &__rome {
    height: 57px;
  }
}

.swiper {
  &__container {
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__title {
    text-align: center;
    font-size: 38px;
  }
  &__title::after {
    content: '';
    display: block;
    background: var(--stripe-color);
    height: 2px;
    margin: 28px auto 36px;
    width: 50px;
  }
  &__desc {
    display: flex;
    justify-content: center;
    color: var(--secondary-text);
    line-height: 26.91px;
    margin-bottom: 36px;
  }
  &__item {
    width: 100%;
    height: 337px;
    background-color: var(--white-color);
    border-radius: 12px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__date {
    line-height: 26.91px;
    color: var(--secondary-text);
  }
  &__name {
    font-weight: 700;
    font-size: 22px;
  }
  &__respond {
    line-height: 26.91px;
    overflow: hidden;
  }
  &__circle {
    background-color: var(--logo-yellow);
    border-radius: 50%;
  }
  &__watch {
    display: flex;
    justify-content: center;
    margin-top: 34px;
  }
  .look {
    &__button {
      cursor: pointer;
      width: 215px;
      height: 56px;
      text-align: center;
      background-color: transparent;
      color: var(--secondary-text);
      border: 1px solid var(--secondary-text);
      border-radius: 3px;
      font-size: 18px;
      transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__button:hover,
    &__button:focus {
      color: var(--footer-bg);
      border-color: var(--footer-bg);
    }
  }
}

.communication {
  &__title {
    text-align: center;
    font-size: 38px;
    line-height: 45.6px;
  }
  &__title::after {
    content: '';
    display: block;
    background: var(--stripe-color);
    height: 2px;
    margin: 28px auto 36px;
    width: 50px;
  }
  &__desc {
    text-align: center;
    line-height: 26.91px;
    color: var(--secondary-text);
    margin-bottom: 43px;
  }
  .list {
    &__grid {
      display: flex;
      justify-content: space-between;
      padding-bottom: 95px;
    }
    &__circle {
      background-color: var(--logo-yellow);
      border-radius: 50%;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__text {
      display: flex;
      flex-direction: column;
      gap: 18px;
      padding: 0 25px;
    }
    &__item {
      display: flex;
      flex-direction: row;
    }
    &__title {
      color: var(--secondary-text);
      line-height: 26.91px;
    }
    &__desc {
      line-height: 26.91px;
    }
  }
}